<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="main-content">
        {{>header}}
        {{#each msgs}}
        <p>{{p}}</p>
        {{/each}}
    </div>
    {{>footer}}
</body>

</html>